div.container .header-text {
  width: auto;
}
div.main-container #langheader {
  background: #00696C;
}
div.main-container .content-home-questions {
  background: none repeat-x bottom #00696C;
}
div.main-container .ds-footer,
.ds-footer {
  background: none repeat-x bottom #6D4B85;
}
.glossary-term {
  border-bottom: 1px dotted #00696C;
  color: #00696C;
  cursor: help;
  text-decoration: none;
}
.content-home-questions .glossary-term {
  color: white;
  font-weight: bold;
  border-bottom: 1px dotted white;
}
.tippy-box[data-theme~=light]{color:#26323d;box-shadow:0 0 20px 4px rgba(154,161,177,.15),0 4px 80px -8px rgba(36,40,47,.25),0 4px 4px -2px rgba(91,94,105,.15);background-color:#fff}.tippy-box[data-theme~=light][data-placement^=top]>.tippy-arrow:before{border-top-color:#fff}.tippy-box[data-theme~=light][data-placement^=bottom]>.tippy-arrow:before{border-bottom-color:#fff}.tippy-box[data-theme~=light][data-placement^=left]>.tippy-arrow:before{border-left-color:#fff}.tippy-box[data-theme~=light][data-placement^=right]>.tippy-arrow:before{border-right-color:#fff}.tippy-box[data-theme~=light]>.tippy-backdrop{background-color:#fff}.tippy-box[data-theme~=light]>.tippy-svg-arrow{fill:#fff}

/* overwriting other css files colour settings */

.main-container h1.page-header {
    color: #00696C;
}
footer.ds-footer {
  background: none repeat-x bottom #6D4B85;
}